@using System.Globalization;
@model IEnumerable<WebApp.Models.Producto>

@{
    ViewData["Title"] = "IndexProductos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card bg-dark text-white shadow m-2 p-2">
  <div class="card-body text-center">
    <h5 class="card-title">Listado de Productos</h5>
    <a class="btn btn-outline-light" asp-action="AddProducto"><i class="bi bi-plus-circle mx-2"></i>Agregar Nuevo Producto</a>
  </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Descripcion
            </th>
            <th>
                Precio
            </th>
            <th>
                Stock
            </th>
            <th>
                Imagen
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @item.Precio.ToString("C", new CultureInfo("es-CL"))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                <img src="@item.UrlImagen" width="100" class="img-thumbnail" />
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square mx-2"></i></a>
                    <a asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-info-circle mx-2"></i></a>
                    <a onclick="return confirm('¿Estas Seguro?')"
                        asp-action="EliminarProducto" asp-route-Id="@item.Id"><i class="bi bi-trash2 mx-2"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
